@using stGenetics.Services
@using AnimalModel.Model
@inject NavigationManager NavigationManager
@inject IAnimalService AnimalService
@page "/animal/edit"

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Edit animal</a>
        <a class="navbar-brand" href="#">Edit animal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" @onclick="NavigateToDefaultPage">Hone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" @onclick="NavigateToAnimal">Animal</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@if (Animal != null)
{
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <form>
                <div class="form-group">
                    <label for="animalId">Animal ID</label>
                    <input type="number" class="form-control" id="animalId" value="@Animal.AnimalId" readonly />
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" @bind="@Animal.Name" />
                </div>
                <div class="form-group">
                    <label for="breed">Breed</label>
                    <input type="text" class="form-control" id="breed" @bind="@Animal.Breed" />
                </div>
                <div class="form-group">
                    <label for="birthDate">Birth Date</label>
                    <input type="date" class="form-control" id="birthDate" @bind="@Animal.BirthDate" />
                </div>
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <input type="text" class="form-control" id="sex" @bind="@Animal.Sex" />
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" @bind="@Animal.Price" />
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" id="status" @bind="@Animal.Status" />
                </div>

                <button type="submit" class="btn btn-primary" @onclick="UpdateAnimal">Update Animal</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>Animal not found.</p>
    </div>
}


<button @onclick="NavigateToAnimal">Back to Animal Grid</button>

@code {
    private Animal Animal { get; set; }
    [Parameter] public int AnimalId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Animal = AnimalService.GetSingleAnimal(AnimalId);
    }

    private async Task UpdateAnimal()
    {
        await AnimalService.UpdateAnimal(Animal);
        // Optional: Display a success message or navigate back to the animal grid page
        NavigationManager.NavigateTo("/animal");
    }

    private void NavigateToDefaultPage()
    {
        NavigationManager.NavigateTo("/");
    }

    private void NavigateToAnimal()
    {
        NavigationManager.NavigateTo("/animal");
    }
}
